<div id="overlayDiv2" style="display: none;">
	<div class="notificationn">
		<div class="infoo">
			<span class="textt">Are you sure you want to delete this record?</span>
			<form action="/deleteRecord" method="post" class="formNotificationn">
				<div class="formmm">
					<label for="suree">Yes, I'm sure</label>
					<input type="text" name="id" id="cardIdNotification" style="display: none">
					<input type="checkbox" required name="x" id="suree">
				</div>
				<button class="deleteBtnn">Delete</button>
			</form>
		</div>
		<button class="cancelBtnn" onclick="cancelDeleteNotification()">Cancel</button>
	</div>
</div>