<div id="overlayDiv3" style="display: none">
    <!--id author text-->
    <div class="popup">
      <div class="topPop">
        <button id="arrowLeftButton" onclick="returnToMainMenu()">Back</button>
        <h2 class="popupTitle">Edit Note</h2>
      </div>
      <div class="popUpForm">
        <form class="addRecordForm" method="post" action="/editNote">
          <input
            name="text"
            required
            max="120"
            min="1"
            type="text"
            placeholder="text"
            id="text"
          />
          <input
            name="author"
            required
            max="30"
            min="1"
            type="text"
            placeholder="author´s name"
            id="author"
          />
          <input type="text" name="id" id="id" style="display: none;">
          <input name="color" id="color" type="color" />
          <input type="submit" value="submit" />
        </form>
      </div>
    </div>
  </div>