<div class="note" style="background-color: <%=color%>;">
    <span class="text">
        <%= noteText %>
    </span>
    <span class="author">
        -<%= authorText %>
    </span>
    <div class="bottom">
        <form action="/deleteNote" method="post" onsubmit="confirmDelete(event, this)">
            <input class="id" name="id" style="display: none;" value="<%=id%>"></input>
            <button style="background-color: red; border: none; border-radius: 10px; color: white; padding: 5px 5px 5px 5px; font-weight: bold;">Delete</button>
        </form>
        <button class="editbtn" style="background-color: lightblue; border: none; border-radius: 10px; color: white; padding: 5px 5px 5px 5px; font-weight: bold; margin-bottom: 5px;" onclick="editCard(this)">Edit</button>
    </div>
</div>

<script>
    function confirmDelete(e, x){
      e.preventDefault();
      if(confirm("Are you sure you want to delete this?") == true) {
        x.submit();
      }
    }
  </script>