<div class="note">
    <div class="textContainer">
        <span class="text">
            <%= noteText %>
        </span>
    </div>
    <div class="authorContainer">
        <span class="author">
            - <%= authorText %>
        </span>
    </div>
</div>