<div id="overlayDiv" style="display: none;">
	<div class="popup">
		<div class="topPop">
			<button id="arrowLeftButton" onclick="returnToMainMenu()"><img class="arrow" src="img/Arrow.png"
					alt="Settings"></button>
			<h2 class="popupTitle">Add Record</h2>
		</div>
		<div class="popUpForm">
			<form class="addRecordForm" method="post" action="/addRecord">
				<div class="addDate">
					<img src="img/Calendar.png" alt="">
					<input required type="date" name="date" id="addDate" placeholder="DD.MM.YYYY">
				</div>
				<div class="addTimespent">
					<img src="img/Clock.png" alt="">
					<input required min=1 type="number" name="timespent" id="addTimespent"
						placeholder="Enter time spent (minutes)">
				</div>
				<div class="addRating">
					<img class="star" src="img/Star.png" alt="">
					<input required type="range" name="rating" id="addRating" min="0" max="5" step="1"
						oninput="document.getElementById('ratingOutput').textContent = this.value">
					<img class="ratingOutputImg" src="img/RatingOutput.png" alt="img">
					<span id="ratingOutput">3</span>
				</div>
				<div class="addLanguage">
					<img src="img/Code.png" alt="">
					<input required type="text" name="language" id="addLanguage" placeholder="Enter programming language">
				</div>
				<div class="addTag">
					<img src="img/Category.png" alt="">
					<select multiple class="customSelectMore" name="category" id="addCategory">
						<option value="" selected disabled>Choose Categories</option>
						<option value="" class="optionSmallerText" disabled>Hold CTRL to select more options</option>
						<% tags.forEach((tag)=> {%>
							<option value="<%=tag.name%>" style="color: <%=tag.color%>;">
								<%=tag.name%>
							</option>
							<% }) %>
					</select>
				</div>
				<div class="addDescription">
					<img src="img/Description.png" alt="">
					<input required type="text" name="description" id="addDescription" placeholder="Enter description">
				</div>
				<div class="addId" style="display: none;">
					<input class="id" type="text" name="id">
				</div>
				<button id="submitButton" class="addRecord"><span class="submitText">Create</span></button>
			</form>
		</div>
	</div>
</div>