<script src="js/SettingsFunctions.js"></script>
<div class="main settingsMain" id="settings" style="display:none">
	<div class="topSet">
		<button id="arrowLeftButton" onclick="returnToMainMenu()"><img class="arrow" src="img/Arrow.png"
				alt="Settings"></button>
		<h2 class="settingsTitle1">Programmer settings</h2>
	</div>
	<div class="topbot">
		<form class="programmerSettingsForm" action="/programmer" method="post">
			<select onchange="onChangeProgrammer(this.value)" style="display:none" required class="customSelectOne settings"
				name="settings" id="editProgrammer">
				<option value="n" selected disabled>Choose option</option>
				<option value="Add">Add</option>
				<option value="Edit">Edit</option>
				<option value="Delete">Delete</option>
			</select>
			<select style="display:inline-block" class="editProgrammer deleteProgrammer customSelectOne chooseProgrammer"
				name="programmer" id="addProgrammer">
				<option value="" selected disabled>Choose programmer</option>
				<% programmers.forEach((programmer)=> {%>
					<option value=<%=programmer%>><%=programmer%>
					</option>
					<% }) %>
			</select>
			<input style="display:inline-block" onkeypress="return event.charCode != 32" required
				class="addProgrammer editProgrammer inputText" type="text" name="name" id="addName"
				placeholder="Enter new name">
			<button class="programmerButton">
				<img style="display: none;" class="addProgrammer addImgProg" src="img/Plus.png" alt="Plus">
				<img style="display: none;" class="editProgrammer editImgProg" src="img/PencilWhite.png" alt="Pencil">
				<img style="display: none;" class="deleteProgrammer removeImgProg" src="img/BinWhite.png" alt="Bin">
			</button>
		</form>
	</div>
	<div class="botSet">
		<h2 class="settingsTitle2">Categories settings</h2>
	</div>
	<div class="botbot">
		<form class="categoriesSettingsForm" action="/category" method="post">
			<select onchange="onChangeCategory(this.value)" style="display:none" required class="customSelectOne settings"
				name="settings" id="editCategory">
				<option value="n" selected disabled>Choose option</option>
				<option value="Add">Add</option>
				<option value="Edit">Edit</option>
				<option value="Delete">Delete</option>
			</select>
			<select style="display:inline-block" class="editCategory deleteCategory customSelectOne chooseCategory"
				name="category" id="addCategory">
				<option value="" selected disabled>Choose old category</option>
				<% categories.forEach((category)=> {%>
					<option value=<%=category.name%>><%=category.name%>
					</option>
					<% }) %>
			</select>
			<input style="display:inline-block" onkeypress="return event.charCode != 32" required
				class="addCategory editCategory inputText2" type="text" name="name" id="addName" placeholder="Enter new name">
			<input style="display:inline-block" onkeypress="return event.charCode != 32" required
				class="addCategory editCategory inputText2" type="text" name="description" id="addDescription"
				placeholder="Enter new description">
			<input style="display:inline-block" required class="addCategory editCategory inputText2" type="color" name="color"
				id="addColor" placeholder="Enter new description">
			<button class="categoryButton">
				<img style="display: none;" class="addCategory addImgProg" src="img/Plus.png" alt="Plus">
				<img style="display: none;" class="editCategory editImgProg" src="img/PencilWhite.png" alt="Pencil">
				<img style="display: none;" class="deleteCategory removeImgProg" src="img/BinWhite.png" alt="Bin">
			</button>
		</form>
	</div>
</div>