<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
	<script src="js/AddForm.js"></script>
	<title>Programming Diary</title>
</head>

<body>
	<link rel="stylesheet" href="css/addform.css">
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
	</style>
	<script type="module" src="js/CustomElements.js"></script>
	<div class="main" id="main">
		<button id="addButton">
			<img src="img/PlusIcon.png" alt="Plus Sign">
		</button>
		<div class="addRecord">
			<h2 id="formHeader">Add record</h2>
			<form class="createForm"  onsubmit="addSesion();return false">
				<input type="date" required id="date">
				<input type="number" placeholder="Enter the Time spent (mins)" min="1" max="1440" id="lenght" required>
				<input type="text" placeholder="Enter the Language"  id="language" required>
				<input type="text" placeholder="Enter what you've done" id="done" required>
				<input type="range" min="1" max="5"
					oninput="document.getElementById('rangeOutput').textContent = 'Rating: ' + this.value">
				<span id="rangeOutput">Rating: 3</span>
				<input   type="submit" value="Submit">
			</form>
		</div>
		<card-custom date="03/01/2023" spent="240" rating="3" language="Lua"></card-custom>
	</div>
	</div>
	<script>// TENHLE KOD ULOZI DATA Z DOTAZNIKU DO LOCALSTORAGE
		import data from localStorage
		let sesions = []
		console.log("LOL");

		console.log(localStorage.getItem('Sesionlist[1]'));
		console.log("LMAO");

		const addSesion = (ev)=>{
			ev.preventDefault();//to stop site from refreshing
			let Sesion =  {
				id: Date.now(),
				date: document.getElementById("date").value,
				lenght: document.getElementById("lenght").value,
				language: document.getElementById("language").value,
				rangeOutput: document.getElementById("rangeOutput").value,
			}
			sesions.push(Sesion);
			document.querySelector("form").reset();

			localStorage.setItem("Sesionlist",JSON.stringify(sesions));
		}
		document.addEventListener("DOMContentLoaded",()=>{
			document.getElementById("Submit").addEventListener("click",addSesion);
		});
	</script>
</body>

</html>