.addRecord h2 {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.25vw;
}

.createForm {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1vh;
  width: 100%;
}

.createForm span {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9vw;
}

.createForm input {
  border-radius: 0.5vh;
  width: 10vw;
  height: 2.5vh;
}

.createForm input[type="submit"] {
  border: none;
  background-color: #50c878;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 0.75vw;
  width: 4vw;
}
