* {
  border: none;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: #ffffff;
}

button {
  cursor: pointer;
}

.admin {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

.admin-header {
  width: 100%;
  height: 14%;
  display: flex;
  padding: 10px 10px 10px 10px;
}

.admin-hamburger {
  display: flex;
  flex-direction: column;
  width: 7%;
  height: 100%;
}

.admin-hamburger img {
  height: 40px;
  width: 40px;
}

.admin-hamburger img:hover + .admin-hamburger-menu {
  display: flex;
}

.admin-hamburger-menu:hover {
  display: flex;
}

.admin-hamburger-menu {
  display: none;
  flex-direction: column;
  color: #6f6c90;
  border-radius: 5px;
  border: 2px solid #eff0f6;
  align-items: center;
  padding: 9px 24px 9px 24px;
  font-size: 14px;
  gap: 5px;
}

.admin-top {
  display: flex;
  flex-direction: column;
  width: 93%;
  padding: 0 10px 0 10px;
}

.admin-heading {
  height: 50%;
  width: 93.125%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.admin-text {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 26px;
  color: #6f6c90;
  gap: 158px;
  align-items: center;
}

.admin-add {
  height: 50%;
  width: 93.125%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.admin-addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 7px 9px 7px 9px;
  gap: 10px;
  border-radius: 6px;
  background-color: #287fff;
}

.admin-addBtn img {
  width: 19px;
  height: 19px;
}

.admin-content,
.users,
.tags {
  width: 100%;
  height: 87.3%;
  display: flex;
  padding: 5px 0 5px 0;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
