body {
  position: relative;
}

.main {
  font-family: "Open Sans", sans-serif;
  width: 60vw;
  height: 72vh;
  position: absolute;
  left: 20vw;
  top: 14vh;
  display: flexbox;
  justify-content: center;
  border-radius: 1vh;
  border: 3px solid black;
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
  overflow: scroll;
}

#addButton {
  height: 5vh;
  width: 40vw;
  margin-top: 2vh;
  margin-left: 10vw;
  border: 0;
  border-radius: 0.5vh;
  background-color: #50c878;
  cursor: pointer;
}

#addButton img {
  max-width: 60%;
  max-height: 60%;
  margin: auto;
  display: block;
}

.divider {
  margin-top: 2vh;
  background-color: grey;
  opacity: 0.2;
  width: 60vw;
  height: 0.3vh;
}
