.note {
    height: 192px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    word-wrap: break-word;
    height: 90%;
    width: 90%;
    padding-top: 10px;
}

.author {
    font-size: 0.75em;
    display: flex;
    align-self: flex-end;
    height: 10%;
    padding-right: 10px;
    padding-left: 10px;
}