.settingsMain {
  z-index: 1;
}

.topSet,
.botSet {
  display: flex;
  align-items: center;
}

.settingsTitle1 {
  margin-top: 1.6666666666666665vh;
  margin-left: 14.375vw;
}
.settingsTitle2 {
  margin-top: 9.25925925925926vh;
  margin-left: 20.260416666666668vw;
}

.topbot,
.botbot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputText,
.inputText2 {
  border-color: #f0eff7;
  border-style: solid;
  border-radius: 0.4166666666666667vw;
  border-width: 0.10416666666666667vw;
  width: 14.583333333333334vw;
  height: 3.8vh;
  outline: none;
  text-align: center;
  color: #babdc2;
  font-size: 1.1875em;
}

.inputText::placeholder,
.inputText2::placeholder {
  color: #babdc2;
}

.chooseProgrammer,
.chooseCategory {
  width: 14.583333333333334vw;
  height: 4.444444444444444vh;
}

.programmerButton,
.categoryButton {
  background-color: #287fff;
  border: none;
  border-radius: 0.572916vw;
  width: 14.583333333333334vw;
  height: 4.444444444444444vh;
  cursor: pointer;
}

.programmerSettingsForm {
  margin-top: 1.3888888888888888vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.addImgProg,
.editImgProg {
  height: 2.0370370370370368vh;
  width: 1.1458333333333335vw;
}

.removeImgProg {
  height: 2.058333333333333vh;
  width: 0.9406249999999999vw;
}

.categoryButton,
.chooseCategory,
.inputText2 {
  width: 21.875vw;
}

.categoriesSettingsForm {
  margin-top: 1.3888888888888888vh;
  display: grid;
  grid-template-columns: 21.875vw 21.875vw;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.categoriesSettingsForm .settings {
  margin-left: 14.583333333333334vw;
}
