<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
	<title>Programming Diary</title>
</head>

<body>
	<link rel="stylesheet" href="css/addform.css">
	<link rel="stylesheet" href="css/card.css">
	<script src="js/CardFunctions.js"></script>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
	</style>
	<div class="main" id="main">
		<button id="addButton"
			onclick="if (document.getElementById('addRecord').style.display == 'none') { document.getElementById('addRecord').style.display = 'block'; document.getElementById('formHeader').innerHTML = 'Add Record'; document.getElementById('submit').value = 'Submit' } else { document.getElementById('addRecord').style.display = 'none' }">
			<img src="img/PlusIcon.png" alt="Plus Sign">
		</button>
		<div class="addRecord" id="addRecord" style="display: none;">
			<h2 id="formHeader">Add Record</h2>
			<form id="createCardForm" class="createForm" method="post" action="/add">
				<input value="" name="date" type="date" id="date" required>
				<input value="" name="timespent" type="number" id="timespent" placeholder="Enter the Time spent (mins)" min="1"
					required>
				<input value="" name="language" type="text" id="language" placeholder="Enter the Language" required>
				<input value="" name="rating" type="range" id="rating" min="1" max="5"
					oninput="document.getElementById('rangeOutput').textContent = 'Rating: ' + this.value">
				<span id="rangeOutput">Rating: 3</span>
				<input value="" name="description" class="secondLine" id="description" type="text"
					placeholder="Enter the description" required>
				<input class="secondLine" type="submit" value="Submit" id="submit">
			</form>
		</div>
		<div class="divider"></div>
			<div class="filterAndSort">
			<div class="filter">
				<button class="SortButton">filter</button>
				<div class="dropdown-content">
					<div class ="LanguageFilter">
						<label for="LanguageId">by language : </label>
						<input type="LanguageId" id="LanguageId" name="LnaguageFilterInput"  onkeydown="FilterLanguage()">
					</div>
					<div class ="RatingFilter">
						<label for="RatingFromFilterId">by rating : </label>
						<input type="RatingFromFilterId" id="RatingFromFilterId" name="RatingFilterInput"  onkeydown="FilterRating()" placeholder="Enter lowest value " onkeydown="FilterRating()">
						<input type="RatingToFilterId" id="RatingToFilterId" name="RatingFilterInput" onkeydown="FilterRating()" placeholder="Enter highest value " onkeydown="FilterRating()">
					</div>
					<div class ="TimeFilter">
						<label for="TimeFromFilterId">by time : </label>
						<input id="TimeFromFilterId" name="TimeFilterInput"  onkeydown="FilterTime()" placeholder="Enter lowest value " >
						<input id="TimeToFilterId" name="TimeFilterInput" onkeydown="FilterTime()" placeholder="Enter highest value " >
					</div>
					<div class ="DateFilter">
						<label for="DateFromFilterId">by date : </label>
						<input id="DateFromFilterId" type="date" name="DateFilterInput"  onkeydown="FilterDate()" placeholder="Enter lowest value " >
						<input id="DateToFilterId"   type="date" name="DateFilterInput" onkeydown="FilterDate()" placeholder="Enter highest value " >
						<button onclick="FilterDate()">Filter by date</button>
					</div>
				</div>
			  </div>
			  <button id="resetButton" onclick=" date.value = 0;location.reload(); ">Reset filter</button>
			</div>
			<script src="/js/Filter.js"></script>

		
		<div class="divider"></div>
		<% Objects.forEach(element=> {%>
			<%// if(element.language =="Python"){}else{ %>

			<%- include('../partials/card', {cardId: element.id, date: element.date, timespent: element.timespent, rating:
				element.rating, language: element.language, description: element.description}) %>
				<%//} %>
				<%}); %>
	</div>

	</div>
</body>

</html>